{% extends 'base.html'%}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Добавьте товар</h1>
</div>
<div class="row text-start">
    <div class="col-lg-12 col-md-6 col-sm-12">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Форма для добавления нового товара</h4>
            </div>
            <div class="card-body">
                <form method="post" action="" class="form-floating" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name">Наименование</label>
                        <input type="text" name="name" class="form-control" id="name" placeholder="Наименование товара"
                               required>
                    </div>
                    <div class="mb-3">
                        <label for="description">Описание</label>
                        <textarea type="text" name="description" class="form-control" id="description"
                                  placeholder="Описание товара" required></textarea>
                    </div>

                    <div class="mb-3">
                        <label for="formFile" class="form-label">Выберете изображение продукта</label>
                        <input class="form-control" name="formFile" type="file" id="formFile">
                    </div>

                    <div class="mb-3">
                        <label for="category">Категория</label>
                        <select class="form-select" name="category" aria-label="Выберете категорию" id="category">
                            <option value=0 selected>---</option>
                            {% for category in categories %}
                            <option value="{{category.pk}}">{{category.name}}</option>
                            {% endfor %}
                        </select>

                    </div>

                    <div class="mb-3">
                        <label for="price">Цена за покупку</label>
                        <input type="number" name="price" class="form-control" id="price"
                               placeholder="Цена за покупку" required>
                    </div>
                    <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock%}
